{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to my Home Tweet</h1>
    </div>
</div>

<div class = 'row mb-3'>
<div class = 'col-md-4 mx-auto col-10'>
    <form class = 'form' method='POST' action='/create' id = "form_create"> {% csrf_token %}
        <input type='hidden' value='/' name = 'next'/>
        <textarea class="form-control" name="content" id="tweet_content" rows="3" placeholder="Write your tweet here ..."></textarea>
        <button name="" id="" class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
</div>

<div class="row" id="hehe">
</div>




<script>
    const tweetElement = document.getElementById("hehe")
    function handleSubmitForm(event){
        event.preventDefault() //Prevent Auto Follow and try to do - by- hand

        const myForm = event.target
        const formData = new FormData(myForm)


        const axemple_ajax = new XMLHttpRequest()
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        console.log(url,method)
        axemple_ajax.open(method,url)
        axemple_ajax.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
        axemple_ajax.setRequestHeader("X-Requested-With","XMLHttpRequest")

        axemple_ajax.onload = function() {
            const severResponse = axemple_ajax.response
            loadingTweet(tweetElement)
        }
        axemple_ajax.send(formData) 
    }


    const formCreate = document.getElementById("form_create")
    formCreate.addEventListener("submit", handleSubmitForm)

    

    function loadingTweet(tweetE){
        const axemple_ajax = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'

        axemple_ajax.responseType = responseType
        axemple_ajax.open(method,url)
        axemple_ajax.onload = function() {
            var last_string  = "";
            const t_list = axemple_ajax.response.response;
            var i;
            for (i = 0 ; i < t_list.length;i++){
                var tweetElement = TweetElement(t_list[i])
                last_string += tweetElement  
    
            }
            tweetE.innerHTML = last_string
        }
        axemple_ajax.send()

    }
    loadingTweet(tweetElement)



    
    function HandleDidLike(id, count) {
      console.log(id);
    } 


    function LikeButton(item){
        return "<button class = 'btn btn-primary btn-sm' onclick=HandleDidLike("+item.id+item.likes+")>"+ item.likes +" Like</button>";
    } 



    function TweetElement(item){
        var element = "<div class='mb-4 item col-12 col-md-10 mx-auto border rounder py-3' id= 'id-tweet"+ item.id + "'><p>" 
            + item.content +"</p>"+"<div class='btn-group'>" + LikeButton(item) + "</div></div>"
        return element
    }


</script>

{% endblock content %}