{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to my Home Tweet</h1>
    </div>
</div>

<div class = 'row mb-3'>
<div class = 'col-md-4 mx-auto col-10'>
    <form class = 'form' method='POST' action='/create/' id = "form_create"> {% csrf_token %}
        <input type='hidden' value='/' name = 'next'/>
        <textarea required = 'required' class="form-control" name="content" id="tweet_content" rows="3" placeholder="Write your tweet here ..."></textarea>
        <button name="" id="" class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
</div>
{% comment %} <div class="row" id="hihi">
</div> {% endcomment %}

<div class="row" id="hihi">
</div>




<script>
    const tweetContainer = document.getElementById("hehe")


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function TweetElement(item){
        var element = "<div class='mb-4 item col-12 col-md-10 mx-auto border rounder py-3' id= 'id-tweet"+ item.id + "'><p>" 
            + item.content +"</p>"+"<div class='btn-group'>" + LikeButton(item) + UnLikeButton(item) +RetweetButton(item)+"</div></div>"
        return element
    }

    function handleSubmitForm(event){
        event.preventDefault() //Prevent Auto Follow and try to do - by- hand

        const myForm = event.target
        const formData = new FormData(myForm)


        const axemple_ajax = new XMLHttpRequest()
        const responseType = 'json'

        axemple_ajax.responseType = responseType
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
     
        axemple_ajax.open(method,url)
        axemple_ajax.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
        axemple_ajax.setRequestHeader("X-Requested-With","XMLHttpRequest")

        axemple_ajax.onload = function() {
            
            
             if (axemple_ajax.status === 201){
            
                const newTweetJson = axemple_ajax.response
                const newTestItem =  TweetElement(newTweetJson)
                const orginalHtml = tweetContainer.innerHTML
                tweetContainer.innerHTML = newTestItem + orginalHtml

                myForm.reset()
            } 
            else if (axemple_ajax.status === 400) {

                console.log(errorJson)
            }
            else if (axemple_ajax.status === 500) {
                alert("There is error in server. Please try again later")
            }  else if (axemple_ajax.status === 401) {

                alert("You must login to write tweet!!!")
                window.location.href = '/login'
            }
            else if (axemple_ajax.status === 403) {

                alert("You must login to write tweet!!!")
                window.location.href = '/login'
            }
        }

        axemple_ajax.onerror = function(){
            alert("Tweet is too long... Please try again later")
        }
        axemple_ajax.send(formData) 
    }


    const formCreate = document.getElementById("form_create")
    formCreate.addEventListener("submit", handleSubmitForm)

    

    function loadingTweet(tweetE){
        const axemple_ajax = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'

        axemple_ajax.responseType = responseType
        axemple_ajax.open(method,url)
        axemple_ajax.onload = function() {
            var last_string  = "";
            const t_list = axemple_ajax.response;
            var i;
            for (i = 0 ; i < t_list.length;i++){
                var tweetElement = TweetElement(t_list[i])
                last_string += tweetElement  
    
            }
            tweetE.innerHTML = last_string
        }
        axemple_ajax.send()

    }
    loadingTweet(tweetContainer)



    
    function HandleActionBtn(id, currentLike, action) {
      console.log("hhe",id, currentLike,action)
      const url ="/api/tweets/action/"
      const method = "POST"
      const  data = JSON.stringify({
        id: id,
        action: action
      })
      const xhr = new XMLHttpRequest()
      const csrftoken = getCookie('csrftoken');
      xhr.open(method, url)
      xhr.setRequestHeader("Content-Type","application/json")
      xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
      xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
      xhr.setRequestHeader("X-CSRFToken",csrftoken)
      xhr.onload = function() {
        console.log(xhr.status, xhr.response)
        loadingTweet(tweetContainer)
      }
      xhr.send(data)
      return
    } 


    function LikeButton(item){
        console.log(item.like)
        return "<button class = 'btn btn-primary btn-sm' onclick=HandleActionBtn("+item.id+","+item.like+",'like')>"+ item.like +" Likes</button>";
    } 

    function UnLikeButton(item){

        return "<button class = 'btn btn-outline-primary btn-sm' onclick=HandleActionBtn("+item.id+","+item.like+",'unlike')>"+ "Unlike</button>";
    } 

    function RetweetButton(item){
      
        return "<button class = 'btn btn-outline-success btn-sm' onclick=HandleActionBtn("+item.id+","+item.like+",'retweet')>Retweet</button>";
    } 

   






</script>

{% endblock content %}